body {

    min-width: 320px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}



img {

    max-width: 100%;
    height: auto;

}



a {
    color: dodgerblue;
}

a:hover {
    color: #898377;
}

header .navbar-light {}

header .navbar-brand {
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    text-transform: uppercase;

}

header .nav-item {
    text-transform: uppercase;
    margin-left: 50px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    text-transform: uppercase;

}

header .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
    color: white !important;
}

header .nav-item a:hover::after {
    transform: scale(1);
    color: white !important;
}

.slider {
    margin-top: 20px;
    margin-bottom: 50px;
}

.post-category {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: cornflowerblue;
    text-transform: uppercase;
    font-weight: 600;

}

.link-more {

    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: cornflowerblue;
    text-transform: uppercase;
    font-weight: 600;


}

.post-title a {
    color: #626262;
    font-size: 26px;
}

.single-post {

    font-size: 16px;
}



grid-posts {
    margin-top: 100px;
    margin-bottom: 100px;
}

.grid-posts .card {
    border: 0;
    margin-bottom: 100px;
}

.grid-posts .card-body {
    padding-left: 0;
    padding-right: 0;
}

.grid-posts .card-img-top {
    border-radius: 0;
}



.load-more {
    padding: 1rem 2rem;
    border-color: #626262;
    border-radius: 0;
}

.load-more span {
    display: none;
}

.signup {
    background-color: cornflowerblue;
    padding: 70px 0;
    margin-top: 50px;
    margin-bottom: 30px;
}

.signup h3 {
    color: #fff;
}

.signup form {
    margin-top: 70px;
}

.signup .form-input {
    position: relative;
}

.signup .form-control {
    border-radius: 4px;
    background-color: white;
}

.signup .form-control:focus {
    box-shadow: none;
}


.single-post {
    margin-top: 30px;
}

.post-image-block {

    text-align: center;
}

.post-image {

    max-width: 650px;
}


.form-input .btn {
    position: absolute;
    right: 0;
    top: -5px;
    font-size: 25px;
}



.card-img{
    overflow: hidden;
    
}

.card-img-top {
transition: all 4s;
-moz-transition: all 4s;
-webkit-transition: all 4s;
-o-transition: all 4s;
}
   
.card-img-top:hover {
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
    
}




footer {
    background-color: #007bff;
    padding: 40px 0;
    color: #fff;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    
}

.footer-left a {
    color: #fff;
    margin-right: 20px;
}

.footer-right a {
    color: #fff;
    margin-left: 20px;
}

.footer-right p {
    display: inline-block;
    margin-right: 30px;
    
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

@media only screen and (max-width : 1199px) {
    .grid-posts .card-img-top {
        max-height: 300px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

@media only screen and (max-width : 991px) {
    header .nav-item {
        margin-left: 0;
    }

    .grid-posts .card-img-top {
        max-height: 220px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

@media only screen and (max-width : 767px) {
    .grid-posts {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .grid-posts .card {
        margin-bottom: 50px;
    }

    .grid-posts .card-img-top {
        max-height: 100%;
    }
}

@media only screen and (max-width : 575px) {
    .footer-left {
        margin-bottom: 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}
