@media screen and (max-width: 720px) {

    div.slider__content-txt h2 {

        font-size: 10px;
        margin-left: 70px;
    }

    div.advert__content h1 {
        font-size: 25px;
    }
    
     div.printers h3 {
        font-size: 25px;
    }

    div.advert__content p {

        font-size: 14px;
    }

    div.empty-block {
        height: 90px;
    }
}


@media screen and (max-width: 375px) {

    div#header {

        position: relative !important;
        opacity: 1;
    }


    div.slider__content-txt h2 {

        font-size: 6px;
        margin-left: 40px;
    }

    div.advert__content h1 {

        font-size: 20px;
    }
    
    div.printers h3 {
        font-size: 20px;
    }

    div.advert__content p {

        font-size: 12px;
    }


    div.empty-block {

        display: none;
    }
}

@media screen and (max-width: 265px) {


    div.slider__content-txt h2 {

        display: none;
    }

    div.advert__content h1 {

        font-size: 15px;
    }
    
    div.printers h3 {
        font-size: 15px;
    }
    
     div.advert__content p {

        font-size: 12px;
    }



    div.empty-block {

        height: 310px;
    }
}


body {

    margin: 0px;
    padding: 0px;
    font-family: Arial;
    color: white;
}


img {
    max-width: 100%
}


h3 {
    text-align: center;
    font-weight: bold;
}


h4 {
    font-size: 30px;
    color: black;
    text-align: center;
}




p {

    font-size: 16px;
    color: black;
    text-indent: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



a {
    color: white;
    text-shadow: #696969 1px 1px 0px;
    text-decoration: none;
}


/*стили меню сайта  */

#header {
    background-color: gray;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    opacity: 0.95;
}


#header ul {
    text-align: center;
    margin: 0;
}


#header li {

    list-style-type: none;

    display: inline-block;

    text-align: center;

    width: 110px;

    line-height: 30px;

    margin-top: 6px;
    margin-bottom: 6px;
}


#header ul li a:hover {
    height: 30px;
    border: 3px inset white;
    border-radius: 4px;

}



.header__menu-item1 {
    color: white;
    display: block;
    font-size: 15px;
    text-shadow: black 1px 1px 0px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px outset white;
    border-radius: 4px;

}


.header__menu-item2 {
    color: white;
    display: block;
    font-size: 15px;
    text-shadow: black 1px 1px 0px;
    text-decoration: none;
    text-transform: uppercase;

}



/* Slider */
#slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
}

@keyframes load {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.slider__slides {
    width: 200%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 17s infinite;
    -moz-animation: slide 17s infinite;
    animation: slide 17s infinite;
}

.slider__slide {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slider__slide img {
    width: 100%;
    height: 100%;
}

.slider__image {
    width: 100%;
    height: 100%;
}

.slider__image img {
    width: 100%;
    height: 100%;
}

/* Contents */
.slider__content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.slider__content-txt {
    width: 100%;
    height: 0px;
    float: left;
    position: relative;
    top: 2px;
    -webkit-animation: content-s 8.5s infinite;
    -moz-animation: content-s 8.5s infinite;
    animation: content-s 8.5s infinite;
}

.slider__content-txt h2 {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 16px;
    color: #5c5c5c;
    text-align: left;
    margin-left: 130px;
    padding-bottom: 2px;

}




/* Animation */
@-webkit-keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    10% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    50% {
        margin-left: -100%;
    }

    80% {
        margin-left: -100%;
    }


}

@-moz-keyframes slide {
    0% {
        margin-left: 0%;
    }

    10% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    50% {
        margin-left: -100%;
    }

    80% {
        margin-left: -100%;
    }
}

@keyframes slide {

    0% {
        margin-left: 0%;
    }

    10% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    50% {
        margin-left: -100%;
    }

    80% {
        margin-left: -100%;
    }
}

@-webkit-keyframes content-s {
    0% {
        left: -420px;
    }

    20% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    80% {
        left: 0px;
    }

    90% {
        left: 0px;
    }

    100% {
        left: 0px;
    }

    70% {
        left: -660px;
    }

    80% {
        left: -660px;
    }

    90% {
        left: -660px;
    }

    100% {
        left: -660px;
    }
}

@-moz-keyframes content-s {
    0% {
        left: -420px;
    }

    10% {
        left: 0px;
    }

    30% {
        left: 0px;
    }

    40% {
        left: 0px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    70% {
        left: -660px;
    }

    80% {
        left: -660px;
    }

    90% {
        left: -660px;
    }

    100% {
        left: -660px;
    }
}

@keyframes content-s {
    0% {
        left: -420px;
    }

    10% {
        left: 0px;
    }

    15% {
        left: 0px;
    }

    30% {
        left: 0px;
    }

    40% {
        left: 0px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    70% {
        left: -660px;
    }

    80% {
        left: -660px;
    }

    90% {
        left: -660px;
    }

    100% {
        left: -660px;
    }
}




/* стили основных блоков */

.empty-block {
    height: 48px;
    background-color: gray;
    opacity: 0.95;
}


#advert {


    height: 700px;
    text-align: center;
    padding-top: 10px;
    z-index: 10;
}

#advert h1 {

    padding-top: 40px;
}

#advert h1,
h3,
p {

    text-align: center;
    color: white;

}

/* -----------------------------------------------эффект движения фона */

.advert {


    background: url(../images/main/sale.jpg) repeat-x 50% 50%;


    animation: city 30s linear infinite;

    -webkit-animation: city 30s linear infinite;
}

@keyframes city {
    from {
        background-position: -1000px 100%, 0 0;
    }

    to {
        background-position: 0 100%, 0 0;
    }
}

@-webkit-keyframes city {
    from {
        background-position: -1000px 100%, 0 0;
    }

    to {
        background-position: 0 100%, 0 0;
    }
}

.advert__greeting {
    
    -webkit-animation: change_color 3s infinite;
    -moz-animation: change_color 3s infinite;
    -o-animation: change_color 3s infinite;
    animation: change_color 3s infinite;   
}

                                        /* Анимация заголовка1*/
@-webkit-keyframes change_color {
    
    from {opacity: 0.1;}
    30%{opacity: 1; }
    70%{opacity: 1; }
    to {opacity: 0.1; }

}
@-moz-keyframes change_color {
    
    from {opacity: 0.1;}
    30%{opacity: 1; }
    70%{opacity: 1; }
    to {opacity: 0.1; }

}@keyframes change_color {
    
    from {opacity: 0.1;}
    30%{opacity: 1; }
    70%{opacity: 1; }
    to {opacity: 0.1; }

}
                                         /* Анимация заголовка2*/
.catalog__cost{
    
       -webkit-animation: change_color2 1s infinite;
    -moz-animation: change_color2 1s infinite;
    -o-animation: change_color2 1s infinite;
    animation: change_color2 1s infinite;   
}

@-webkit-keyframes change_color2 {
    
    from {opacity: 1;}
    45%{opacity: 1; }
    55%{opacity: 1; color: orange; }
    to {opacity: 1; }

}


@-moz-keyframes change_color2 {
    
    from {opacity: 1;}
    45%{opacity: 1; }
    55%{opacity: 1; color: orange; }
    to {opacity: 1; }

}

@keyframes change_color2 {
    
    from {opacity: 1;}
    45%{opacity: 1; }
    55%{opacity: 1; color: orange; }
    to {opacity: 1; }

}




.video {


    width: 100%;
    max-height: 700px;
}



.content-field {

    width: 80%;

    margin: auto;

    margin-bottom: 20px;

    background-color: white;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 10px;

}


.content-field table {

    width: 100%;
    padding: 25px;

}


.content-field__block-txt {

    max-width: 850px;
    margin-left: auto;
    margin-right: auto;

}



.content-field__block-txt p {

    color: black;
    text-align: left;
}

.content-field__block-txt h4 {

    color: #388EBD;
    font-size: 22px;
    text-align: center;
}


.content-field__block-txt h5 {

    text-align: center;
    color: dimgray;
    font-size: 18px;
}


.catalog__content {

    text-align: center;
    margin-top: 30px;
}


.catalog__content h1 {

    font-size: 28px;
    font-weight: bold;
    color: #B07B7B;
}

.catalog__content h2 {

    font-size: 28px;
    font-weight: bold;
    color: darkblue;
}

.catalog__content h3 {

    font-size: 28px;
    font-weight: bold;
    color: #B07B7B;
}

.catalog__content p {

    font-size: 16px;
    color: black;
    text-align: left;

}



.catalog__content h4 {

    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}

.catalog__content table {

    border: 1px solid grey;
    color: black;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}


.catalog__content td {
    border: 1px solid grey;
}


.catalog__materials h2 {
    text-align: left;

}




#table3 {
    font-size: 18px;
    color: black;
}

.table4 h3 {
    font-size: 18px;
    color: black;
}

#table4 {
    font-size: 18px;
    color: black;
}

.articles__content {

    width: 80%;

    margin: auto;

    margin-bottom: 20px;

    background-color: white;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 10px;

}


.articles__content table {

    width: 100%;
    padding: 25px;

}


.articles__content td {

    padding-left: 25px;

    padding-right: 25px;

}



#db_catalog ul {

    margin: 0px;

    padding: 0px;

    text-align: center;

}



#db_catalog li {
    text-align: center;

    list-style-type: none;

    display: inline-block;

    margin-right: -4px;

    font-size: 25px;

    vertical-align: top;

}





#db_catalog {

    background-color: grey;

    height: 26px;

    width: 70%;

    margin: auto;

    padding: 0px;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    border-radius: 0px 0px 10px 10px;

}


.printers,
.footer {

    padding: 50px;
}



.printers h3 {
        font-size: 25px;
    }



.printers h5 {

    color: grey;
    font-size: 20px;

}

.printers h6 {

    color: black;
    font-size: 18px;
    position: relative;
    top: -25px;

}



.printers__model,
.footer__inl-block,
.inl-block {

    display: inline-block;
    vertical-align: middle;

}

.printers__model_position {

    width: 230px;
    margin-right: 30px;
    margin-bottom: 30px;

}


.inl-block__position {

    width: 300px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.inl-block__position3 {
    height: 50px;
    border: 2px solid white;
    border-radius: 7px;
    padding: 5px;
    width: 260px;
    margin-right: 10px;
    margin-bottom: 60px;

}

.inl-block__position4 {

    max-width: 300px;
    margin-right: 30px;
    margin-bottom: 60px;
    vertical-align: top;
    margin-right: 30px;
}


.inl-block__position5 {

    min-width: 350px;
    max-width: 700px;
    margin-right: 30px;
    margin-bottom: 60px;
    vertical-align: top;
}

.inl-block__position5 td {
    max-width: 350px;
}


/*---------------------------------------------- форма обратной связи*/
form #contact {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 5px;
}

#contact label {
    font-size: 14px;
}

#contact input:required:valid {

    border-color: grey !important;
    background: rgba(255, 255, 255, 0.8);
}

#contact textarea:required:valid {

    border-color: grey !important;
}

#contact input:focus:invalid {

    border-color: grey !important;
    background: rgba(255, 255, 255, 0.8);
}

#contact textarea:focus:invalid {

    border-color: grey !important;
}

.err {
    border: 1px solid #388EBD;
    padding: 10px;
    background: #FFDF97;
    text-align: left;
    border-radius: 3px;
}

.ok {
    border: 1px solid;
    margin-bottom: 15px;
    padding: 10px;
    background: #f5f9fd;
    text-align: center;
    border-radius: 3px;
}

#author,
#email,
#url {
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    background: rgba(255, 255, 255, 0.9);
}

#comment {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    overflow: auto;
    background: rgba(255, 255, 255, 0.9);
}

#submit {
    font-weight: 400;
    background: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    color: #fff;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
}

#submit:hover {
    font-weight: 400;
    background: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    color: #fff;
    padding: 10px 50px;
    border: none;
    cursor: pointer;

}



/*---------------------------------------------эффект медленного увеличения при наведении */

.img-big img {

    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.img-big img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/*--------------------------------------------- эффект медленного появления при загрузке */
.block-appear {
    visibility: hidden;

}

.block-appear {
    animation-name: myopacity;
    -webkit-animation-name: myopacity;
    animation-duration: 1.7s;
    -webkit-animation-duration: 1.7s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible !important;
}

@keyframes myopacity {
    0% {
        opacity: 0
    }

    10% {
        opacity: .1
    }

    20% {
        opacity: .2
    }

    30% {
        opacity: .3
    }

    40% {
        opacity: .4
    }

    50% {
        opacity: .5
    }

    60% {
        opacity: .6
    }

    70% {
        opacity: .7
    }

    80% {
        opacity: .8
    }

    90% {
        opacity: .9
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes myopacity {
    0% {
        opacity: 0
    }

    10% {
        opacity: .1
    }

    20% {
        opacity: .2
    }

    30% {
        opacity: .3
    }

    40% {
        opacity: .4
    }

    50% {
        opacity: .5
    }

    60% {
        opacity: .6
    }

    70% {
        opacity: .7
    }

    80% {
        opacity: .8
    }

    90% {
        opacity: .9
    }

    100% {
        opacity: 1
    }
}



/*------------------------------------------эффекты фонов-----*/


.form__backgr-color {

    background-color: rgba(125, 125, 125, 0.5);

}

.form__backgr {
    background-image: url(../images/form.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

.print__backgr {
    background-image: url(../images/3dprint.jpg);

    background-repeat: no-repeat;
    background-color: grey;
    background-position: center;
    background-size: cover;

}

.print__backgr-color {
    background-color: rgba(125, 125, 125, 0.5);
    ;
}

.teaching__backgr {
    background-image: url(../images/study.jpg);
    background-repeat: no-repeat;
    background-color: grey;
    background-position: center;
    background-size: cover;

}

.teaching__backgr-color {
    background-color: rgba(125, 125, 125, 0.6);
    ;
}


.teaching__txt-shadow {


    text-shadow: -1px -1px 0 #4D4644, 1px -1px 0 #4D4644, -1px 1px 0 #4D4644, 1px 1px 0 #4D4644, 1px 1px 0 white, 1px 1px 0 white;
    letter-spacing: 0.1em;
    text-align: center;
}



/* -----------------------------------------------------------стили кнопок */


a.opisanie {

    background-color: #0fba09;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;

}

a.opisanie:hover {
    background-color: #eca613;

}

a.opisanie2 {
    font-size: 16px;
    background-color: #388EBD;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
}

a.opisanie2:hover {

    background-color: #8ef089;
}

a.back {
    font-size: 16px;
    background-color: #999b9a;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;

}

a.back:hover {
    background-color: #eca613;

}





a.but {

    font-weight: 400;
    background: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    color: #fff;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    margin-right: 5px;


}

a.but:hover {

    font-weight: 400;
    background: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    color: #fff;
    padding: 10px 50px;
    border: none;
    cursor: pointer;

}

a.butBl {
    display: inline-block;
    width: 170px;
    text-align: center;
    margin-bottom: 5px;
}




a.but2 {

    font-weight: 400;
    background: rgba(129, 203, 223, 0.8);
    font-size: 18px;
    color: #fff;
    padding: 10px 50px;
    border: none;
    cursor: pointer;


}

a.but2:hover {

    font-weight: 400;
    background: rgba(129, 203, 223, 0.5);
    font-size: 18px;
    color: #fff;
    padding: 10px 50px;
    border: none;
    cursor: pointer;

}




a.ab_button {
    opacity: 1;



}

a.ab_button:hover {
    opacity: 0.7;



}






a.button_catalog {

    margin-top: -6px;

    background: url(../images/buttons/catalog_2.jpg);

    display: block;

    width: 107px;

    height: 70px;

}

a.button_catalog:hover {

    background: url(../images/buttons/catalog_1.jpg);

    height: 71px;

}





a.button_buy {
    margin-bottom: 10px;

    background: url(../images/buttons/buy_1.jpg);

    display: inline-block;

    width: 150px;

    height: 50px;

}

a.button_buy:hover {

    background: url(../images/buttons/buy_2.jpg);



}




a.button_more {

    background: url(../images/buttons/more_2.jpg);

    display: inline-block;

    width: 200px;

    height: 37px;

}

a.button_more:hover {

    background: url(../images/buttons/more_1.jpg);


}





/*  ------------------------------------------------------стили  футера и копирайтс    */



#footer {


    background-color: grey;

    width: 100%;

    padding: 0px;

    text-align: center;

}

#footer p {



    color: white;

}




#copyright {
    margin-top: 0px;

    background-color: rgba(255, 255, 255, 1);

    height: 10px;

    color: black;

}
