@media screen and (max-width: 720px) {

    div#header nav {

        margin-right: 40px;
        margin-top: 10px;
    }


    div a.header-item {

        display: none;
    }

   
    div.nav-intro__tittle h2 {
        font-size: 28px;
    }

    div.nav-intro__tittle h3 {
        font-size: 28px;
    }

    div.nav-service__cost-block h2 {
        font-size: 18px;

    }

    div h2.nav-service__tittle {
        font-size: 25px;

    }

    div#nav-advantages h2 {
        font-size: 25px;
    }

    div.nav-advantages__quality li {
        font-size: 18px;
    }

    div#nav-gallery h2 {
        font-size: 25px;
    }

    div.nav-gallery__slider img {

        max-width: 200px;
    }

    div#header__menu .header-item-hidden {

        display: block;
            }

}


*{
    
    margin: 0;
    padding: 0;
}

.header__ad {
    min-width: 320px;
    font-family: monospace;
}

.header__ad a,
p.header__phone {
    float: right;
}

.header__phone{
     margin-right: 10px;
        margin-top: 5px;
}

.header__ad a {
    margin: 6px 18px 2px;
}

.header__ad img {

    width: 32px;
}

.header__logo{
    margin-top: 5px;
}

#header {


    background: linear-gradient(rgba(54, 46, 149, 0), rgba(35, 34, 119, 1));


    background-color: rgba(15, 0, 78, 0.5);
    position: fixed;
    width: 100%;
    color: white;
    clear: both;
    font-size: 16px;
    z-index: 4;
    top: 0px;
    margin: 1px;
}

#header p {
    display: inline-block;
}

#header nav {

    display: inline-block;
    margin: 20px 200px 10px 0;
    float: right;
}

#header a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: monospace;
    

}

#header a:hover {

    color: skyblue;
}


 .header-item-hidden {
    
    height: 20px;
    padding: 4px;
    display: none;
    box-shadow: 0 0 5px; 
 }

/*----------------------------------------------*/

.header__menu_block{
    
    margin-top: 10px;
    width: 100px;
    height: 30px;
        
}

#header__menu ul{
    list-style-type: none;
                
}

.visible {
    position: absolute;
}

#header__menu_block ul{
    
    margin-left: 20px;
    position: absolute;
}



.bar li {
    
   
     background-color: rgba(15, 0, 78, 0.5);
     width: 140px;
     height: 20px;
         
    
}



#header__menu li .bar  {
    display: none;
    }

#header__menu li:hover .bar {
    display: block;
    z-index: 5;
      
}




/*-----------------------------------------------*/



.nav-intro__tittle {
    background-color: rgba(16, 12, 199, 0.5);
    text-align: center;
    padding-bottom: 310px;

}

.nav-intro__tittle h2 {
    color: white;
    padding-top: 310px;
    font-size: 60px;
    font-family: monospace;
    margin-top: 0px;
}

.nav-intro__tittle h3 {
    color: white;
    font-size: 40px;
    font-family: monospace;
}

.nav-intro__contacts {
    color: white;
    padding-top: 15px;
    font-size: 25px;
    font-family: monospace;
}


#nav-service {
    text-align: center;
    color: rgba(3, 3, 62, 0.7);
    padding-top: -25px;
}

.nav-service__background {
    background-color: rgba(16, 6, 140, 0.7);
    background: linear-gradient(rgba(9, 13, 186, 0.9), rgba(9, 13, 186, 0.7), rgba(16, 6, 140, 0.9));
    padding-top: 70px;
    padding-bottom: 80px;

}

.nav-service__title {

    color: white;
    font-family: monospace;
    padding-top: 40px;

}

.nav-service__title h2 {

    font-size: 35px;

}

.nav-service__block {

    display: inline-block;
    margin: 20px 35px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
}

.nav-service__block img {

    width: 200px;
}

.nav-service__cost-block {
    display: inline-block;
    margin: 20px 50px;
    max-width: 350px;
    height: 200px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

.nav-service__cost-block h2 {
    margin: 0 20px;
    margin-top: 20px;
}

.nav-service__cost-block td {
    width: 100px;
}


.nav-service__cost-materials {
    margin: auto;
    width: auto;
}


#nav-service__calc {
    margin-bottom: 55px;
}




.nav-advantages__content {
    background-color: rgba(16, 12, 199, 0.6);
    color: white;
    padding-top: 100px;
    padding-bottom: 130px
}

.nav-advantages__content h2 {
    font-size: 35px;
    font-family: monospace;
    text-align: center;
    margin-top: 40px;
}

.nav-advantages__quality {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding-top: 30px;
    font-family: monospace;
}

.nav-advantages__quality li {
    padding-bottom: 20px;
    font-size: 25px;
}



/*------------------------------------------------------------------*/


#nav-gallery__appearance {


    min-height: 600px;
    text-align: center;
    font-family: monospace;
    padding-top: 100px;

}

.nav-gallery__title {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: monospace;

}

.nav-gallery__title h2 {

    font-size: 35px;

}

.nav-gallery__content {

    padding-top: 60px;
}

.nav-gallery__slider img {


    margin: 0 auto;
    max-height: 400px;
    border-radius: 10px;

}



/*---------------------------------------------------------------------------*/

#footer {
    background-color: rgba(16, 6, 140, 0.9);
    width: 100%;
}


.footer__content {

    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;

}

.footer__block {

    display: inline-block;
    width: 180px;
    vertical-align: top;
    margin-right: 10px;

}
